body {
    margin: 0;
    padding: 0;
    text-align: center; /* !!! */
}

.audio-src {
    margin-top: 200px;
}


/*.audio-src:before {
    font-family: 'Marcellus SC', serif;
    left: 0;
    margin-top: 100px;
    content: "Tim Durward";
    background: rgba(255, 255, 255, 0);
    color: rgb(26, 188, 156);
    width: 100%;
    height: 100%;
   position: absolute;
   color: transparent;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   font-size: 75px;
}*/
