body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.github {
    position: absolute;
    top: 250px;
    height: 300px;
    font-size: 20px;
    font-style: italic;
    padding-left: 10px;
    font-family: 'Homemade Apple', cursive;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: black;
}
.npm-scb-wrap {
    margin-left: 200px;
}