body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.audio-src {
    position: relative; 
    margin-top: 200px;
}


.github {
    position: absolute;
    font-family: 'Homemade Apple', cursive;
    top: 250px;
    left: 250px;
    height: 300px;
    font-size: 20px;
    font-style: italic;
}

a {
text-decoration: none;
}

a:hover {     
  text-decoration: underline;
}

a:visited {
    color: black;
} 